<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<script src="http://www.xwcms.net/templets/default/images/jquery-1.8.2.min.js"></script>
		<script type="text/javascript"> 
			var time=60; //定义倒计时时间
			function sendemail(){
				var obj = $("#btn");//获取事件对象
				settimeAction(obj);//执行倒计时函数
				}
			function settimeAction(obj) { //发送验证码倒计时
				if (time == 0) { 
					obj.attr('disabled',false); //如果time为0的时候解开按钮禁用属性：disabled:false
					//obj.removeattr("disabled"); 
					obj.val("免费获取验证码");//给按钮重新赋值
					time = 60; //重新定义倒计时时间
					return; //返回
				} else { 
					obj.attr('disabled',true);//如果time为不等于0的时候解开按钮禁用属性：disabled:false
					obj.val("重新发送(" + time + ")");//按钮属性串接  
					time--; //执行秒数-1
				} 
			setTimeout(function() { 
				settimeAction(obj) //执行倒计时函数计算(原理每一秒执行一次settimeAction()函数)
				},1000) 
			}
		</script>
	</head>
	<body> 
		<input type="button" id="btn" value="免费获取验证码" onclick="sendemail()" /> 
	</body>
</html>